{% extends 'base.html' %}

{% block css %}



{% endblock css %}


{% block right %}

    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Products</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i
                                class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item"><a href="{% url 'df_goods:index' %}">Market</a></li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div>
        <!-- end page-title -->
        {#        {{ goods_list }}#}
        <script type="text/javascript">
            if ({{ search_status }}==0
            )
            {
                alert("您的查询结果为空，为您推荐以下商品");
            }
        </script>
        <div class="row">
            <div class="col-md-12">
                <div class="card product-box">
                    <div class="card-body">
                        {% if search_status == 0 %}
                            <h5 class="font-14">为您推荐以下算法：</h5>
                        {% else %}
                            <h5 class="font-14">为您搜到以下相关算法：</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% for good in goods_list %}
                        <div class="col-xl-3 col-md-6">
                            <div class="card product-box">
                                <div class="card-body">
                                    <div class="product-img">
                                        <img src="../../static/{{ good.pic_path }}"
                                             class="img-fluid rounded-top mx-auto d-block" alt="work-thumbnail">
                                        <div class="product-overlay">
                                            <ul class="list-inline product-links social-links mb-0">
                                                <li class="list-inline-item">
                                                    {% if good.id in user_like_algorithm_list %}
                                                        <a href="/good/like/?good_id={{ good.id }}&like=False&user=False"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title="Like" style="color: red"><i
                                                                class="dripicons-heart"></i></a>
                                                    {% else %}
                                                        <a href="/good/like/?good_id={{ good.id }}&like=True&user=False"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title="Like"><i
                                                                class="dripicons-heart"></i></a>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="detail mt-3">
                                        <p class="text-muted">{{ good.type__name }}</p>
                                        <h4 class="font-16"><a href="/good/good-{{ good.id }}/"
                                                               class="text-dark">{{ good.name }}</a></h4>
                                        <p class="text-muted">
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                            <i class="mdi mdi-star text-warning"></i>
                                        </p>
                                        <!--<h5 class="my-0 font-16 float-right"><span class="text-muted mr-2"><del>$72</del></span> <b>$64</b></h5>-->
                                        <!--<span class="badge badge-soft-primary">24 % Off</span>-->
                                    </div>
                                </div>
                            </div>
                            <!-- end product-box -->
                        </div>
                    {% endfor %}
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->

        </div>
        <!-- content -->

    </div>

{% endblock right %}


{% block right_side %}



{% endblock right_side %}


{% block js %}

    <script type="text/javascript">
        $(':radio').click(function () {
            const checkValue = $(this).val();
            window.location.href = "?type_id=" + checkValue + "&query_num=100&offset=0"
        });
    </script>

{% endblock js %}