{% extends 'base.html' %}

{% block css %}

    <!-- Dropzone css -->
    <link href="../../static/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">

    <!--Jquery steps CSS -->
    <link rel="stylesheet" href="../../static/plugins/jquery-steps/jquery.steps.css">

    <!-- summernote -->
    <link rel="stylesheet" href="../../static/plugins/summernote/summernote-bs4.css">

    <script type="text/javascript">
        function getConfig() {
            var algorithm = document.getElementById('algorithm');
            var config_path = "../../media/" + algorithm.value.split(':')[0];
            var httpRequest = new XMLHttpRequest();
            httpRequest.open('GET', config_path, true);
            httpRequest.send();
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                    var json = httpRequest.responseText;
                    document.getElementById("algorithm_config").innerHTML = json;
                }
            };
        }

        function confirmConfig() {
            var config = document.getElementById("algorithm_config").innerHTML;
            alert(config);
            document.getElementById("confirm_config").innerHTML = config;
        }
    </script>

{% endblock css %}


{% block right %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Menu</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i
                                        class="mdi mdi-home-outline"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="{% url 'df_task:creat_task' %}">Task</a></li>
                                <li class="breadcrumb-item active">Creat Task</li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-none d-md-block">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light"
                                            type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-settings mr-2"></i> Settings
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">创建任务</h4>
                                <p class="text-muted mb-4">根据config计算价格</p>

                                <form id="form-horizontal" class="form-horizontal form-wizard-wrapper" method="post"
                                      action={% url "df_task:upload_config" %}>
                                    {% csrf_token %}
                                    <h3>Algorithm Details</h3>
                                    <fieldset>
                                        <div class="form-group row">
                                            <label class="col-md-1 col-form-label">Select</label>
                                            <div class="col-md-11">
                                                <select class="form-control" name="algorithm" id="algorithm"
                                                        onchange="getConfig()">
                                                    <option value="" style="display: none" selected></option>
                                                    {% for i in user_like_algorithm_list %}
                                                        <option value={{ i.algorithm__cfg_template }}:{{ i.algorithm__id }}> {{ i.algorithm__name }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h3>Config</h3>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title">Config</h4>
                                                        <p class="text-muted mb-4">Fill in the algorithm config</p>
                                                        <!-- <div class="summernote" id="algorithm_config">Hello ASTOR! </div> -->
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                <textarea class="form-control" id="algorithm_config" rows="12" name="algorithm_config"
                                          onchange="confirmConfig()"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                    </fieldset>
                                    <h3>Confirm Task</h3>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title">Confirm</h4>
                                                        <p class="text-muted mb-4">Confirm the config and the cost</p>
                                                        <input type="text" id="confirm_config" value=""
                                                               readonly="readonly">
                                                    </div>
                                                </div>
                                            </div> <!-- end col -->
                                        </div> <!-- end row -->
                                        <div class="p-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">I agree with the
                                                    Terms and
                                                    Conditions.</label>
                                            </div>
                                        </div>
                                        <div class="text-center mt-4">
                                            <input type="submit" name="Submit Task"
                                                   class="btn btn-primary waves-effect waves-light"
                                                   id="submit_task_btn" value="提交">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End content -->

    </div>


{% endblock right %}


{% block js %}

    <!-- Dropzone js -->
    <script src="../../static/plugins/dropzone/dist/dropzone.js"></script>

    <!--Summernote js-->
    <script src="../../static/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- form editors init -->
    <script src="../../static/assets/pages/form-editors.int.js"></script>

    <!-- form wizard -->
    <script src="../../static/plugins/jquery-steps/jquery.steps.min.js"></script>

    <!-- form wizard init -->
    <script src="../../static/assets/pages/form-wizard.init.js"></script>

{% endblock js %}