{% extends 'base.html' %}

{% block css %}



{% endblock css %}


{% block right %}
    {{ context }}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <h4 class="page-title">Menu</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i
                                        class="mdi mdi-home-outline"></i></a></li>
                                <li class="breadcrumb-item active">Invoice</li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="invoice-title">
                                            {#                                            <h4 class="mt-0 float-right font-16"><strong>Order # 12345</strong></h4>#}
                                            <div class="mb-4">
                                                <img src="../../static/assets/images/logo-dark.png" alt="logo"
                                                     height="36"/>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-6">
                                                <address>
                                                    <strong>姓名：</strong><br>
                                                </address>
                                            </div>
                                            <div class="col-6 text-right">
                                                <address>
                                                    {{ username }}<br>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 m-t-30">
                                                <address>
                                                    <strong>电话：</strong><br>
                                                </address>
                                            </div>
                                            <div class="col-6 text-right">
                                                <address>
                                                    {{ phone }}<br>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 m-t-30">
                                                <address>
                                                    <strong>邮箱：</strong><br>
                                                </address>
                                            </div>
                                            <div class="col-6 text-right">
                                                <address>
                                                    {{ email }}<br>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <address>
                                                    <strong>订单时间：</strong><br>
                                                </address>
                                            </div>
                                            <div class="col-6 m-t-30 text-right">
                                                <address>
                                                    {{ task_time }}<br>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                {#                                <div class="row">#}
                                {#                                    <div class="col-12">#}
                                {#                                        <div class="p-2">#}
                                {#                                            <h3 class="font-16"><strong>支付方式</strong></h3>#}
                                {#                                        </div>#}
                                {#                                        <div class="col-md-12">#}
                                {#                                            <div>#}
                                {#                                                <div class="custom-control custom-radio mb-2">#}
                                {#                                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">#}
                                {#                                                    <label class="custom-control-label" for="customRadio1">微信</label>#}
                                {#                                                </div>#}
                                {#                                                <div class="custom-control custom-radio">#}
                                {#                                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>#}
                                {#                                                    <label class="custom-control-label" for="customRadio2">支付宝</label>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                </div>#}

                                {#                                <hr>#}

                                <div class="row">
                                    <div class="col-12">
                                        <div>
                                            <div class="p-2">
                                                <h3 class="font-16"><strong>Order summary</strong></h3>
                                            </div>
                                            <div class="">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <td class="no-line"></td>
                                                            <td class="no-line"></td>
                                                            <td class="no-line text-center">
                                                                <strong>Total</strong></td>
                                                            <td class="no-line text-right"><h4
                                                                    class="m-0">{{ price }}</h4></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="d-print-none">
                                                    <div class="float-right">
                                                        <a href="javascript:window.print()"
                                                           class="btn btn-success waves-effect waves-light"><i
                                                                class="fa fa-print"></i></a>
                                                        <a href="{% url 'df_task:start_task' %}?task_id={{ task_id }}"
                                                           class="btn btn-primary waves-effect waves-light">Send</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div> <!-- end row -->

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->


            </div>
        </div>
    </div>

{% endblock right %}


{% block right_side %}



{% endblock right_side %}


{% block js %}



{% endblock js %}