{% extends 'base.html' %}

{% block css %}



{% endblock css %}


{% block right %}

    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">

    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Menu</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i class="mdi mdi-home-outline"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'df_task:creat_task' %}">Task</a></li>
                    <li class="breadcrumb-item active">Task Record</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light"
                                type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <table class="table table-striped">
        {% if task_set_num == 0 %}
            <div class="text-center mt-4">
                <h1>No Data</h1>
            </div>
        {% else %}
            <thead>
            <tr>
                <th>Algorithm</th>
                <th>Config</th>
                <th>Status</th>
                <th>Last Update Time</th>
            </tr>
            </thead>

            {% for task in task_set %}
                <tbody>
                <tr>
                    <td>{{ task.algorithm__name }}</td>
                    <td>
                        <button type="button" class="btn-primary" data-toggle="modal"
                                data-target=".bs-example-modal-center">Config
                        </button>
                        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0">{{ task.algorithm__name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ task.config }}
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.update_time }}</td>
                </tr>
                </tbody>
            {% endfor %}
        {% endif %}
    </table>


{% endblock right %}


{% block right_side %}



{% endblock right_side %}


{% block js %}



{% endblock js %}