{% extends 'base.html' %}

{% block css %}



{% endblock css %}


{% block right %}

    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">

    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Menu</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'df_task:index' %}"><i class="mdi mdi-home-outline"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'df_task:creat_task' %}">Task</a></li>
                    <li class="breadcrumb-item active">Upload Data</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light"
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Dataset Choose</label>
                        <form enctype="multipart/form-data" action={% url "df_task:upload_file" %} method="post"
                              class="col-md-5">
                            <input type="file" name="file"/>
                            <br/><br/><br/>
                            <input type="submit" value="upload"
                                   class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock right %}


{% block right_side %}



{% endblock right_side %}


{% block js %}



{% endblock js %}