{% extends 'base.html' %}

{% block css %}

    <!-- datepicker -->
    <link href="../../static/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">

    <!-- jvectormap -->
    <link href="../../static/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

{% endblock css %}


{% block right %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content dasboard-content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Dashboard</h4>
                            <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="mdi mdi-home-outline"></i></a></li> -->
                                <li class="breadcrumb-item active">Welcome to ASTOR Dashboard</li>
                            </ol>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-right d-none d-md-block">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light"
                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="mdi mdi-settings mr-2"></i> Settings
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-question bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Task Running</h6>
                                <h5 class="mb-3">0</h5>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-reply-all bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Task Finish</h6>
                                <h5 class="mb-3">{{ task_set_num }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-box bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Task All</h6>
                                <h5 class="mb-3">{{ task_set_num }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card mini-stat bg-pattern">
                            <div class="card-body mini-stat-img">
                                <div class="mini-stat-icon">
                                    <i class="dripicons-question bg-soft-primary text-primary float-right h4"></i>
                                </div>
                                <h6 class="text-uppercase mb-3 mt-0">Alhorithm num</h6>
                                <h5 class="mb-3">{{ user_like_algorithm_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Latest Task</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        {% if task_set_num == 0 %}
                                            <div class="text-center mt-4">
                                                <h1>No Data</h1>
                                            </div>
                                        {% else %}
                                            <thead>
                                            <tr>
                                                <th>Algorithm</th>
                                                {#                            <th>CPU</th>#}
                                                <th>Detail</th>
                                                <th>Status</th>
                                                <th>Last Update Time</th>
                                                {#                            <th>Result</th>#}
                                            </tr>
                                            </thead>

                                            {% for task in task_set %}
                                                <tbody>
                                                <tr>
                                                    <td>{{ task.algorithm__name }}</td>
                                                    <td>
                                                        <a href="{% url 'df_task:task_record' %}">
                                                            <button type="button" class="btn-secondary">Check</button>
                                                        </a>
                                                    </td>
                                                    <td>{{ task.status }}</td>
                                                    <td>{{ task.update_time }}</td>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        {% endif %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-xl-4">
                        <div class="card messages">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Latest Messages</h4>
                                <nav>
                                    <div class="nav nav-tabs messages-tabs tab-wid nav-justified" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-first-tab" data-toggle="tab"
                                           href="#nav-first" role="tab" aria-controls="nav-first" aria-selected="true">
                                            <h5 class="mt-0 date">Friend</h5>
                                        </a>
                                        <a class="nav-item nav-link" id="nav-second-tab" data-toggle="tab"
                                           href="#nav-second" role="tab" aria-controls="nav-second"
                                           aria-selected="false">
                                            <h5 class="mt-0 date">System</h5>
                                        </a>
                                    </div>
                                </nav>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="nav-first" role="tabpanel"
                                         aria-labelledby="nav-first-tab">
                                        <div class="p-2 mt-2">
                                            <ul class="list-unstyled latest-message-list mb-0">
                                                <li class="message-list-item">
                                                    <a href="#">
                                                        <div class="media">
                                                            <img class="mr-3 thumb-md rounded-circle"
                                                                 src="../../static/assets/images/users/user-2.jpg"
                                                                 alt="">
                                                            <div class="media-body">
                                                                <p class="float-right font-12 text-muted">Just Now</p>
                                                                <h6 class="mt-0">Mary Frye</h6>
                                                                <p class="text-muted mb-0">Hey! I'm a SUSTech
                                                                    students...</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary btn-sm">Load more</a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-second" role="tabpanel"
                                         aria-labelledby="nav-second-tab">
                                        <div class="p-2 mt-2">
                                            <ul class="list-unstyled latest-message-list mb-0">
                                                <li class="message-list-item">
                                                    <a href="#">
                                                        <div class="media">
                                                            <img class="mr-3 thumb-md rounded-circle"
                                                                 src="../../static/assets/images/users/user-5.jpg"
                                                                 alt="">
                                                            <div class="media-body">
                                                                <p class="float-right font-12 text-muted">12:01am</p>
                                                                <h6 class="mt-0">Admin</h6>
                                                                <p class="text-muted mb-0">System call...</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-primary btn-sm">Load more</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab-content -->
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->

            </div>
            <!-- container-fluid -->

        </div>
        <!-- content -->

        <footer class="footer">
            © 2019 ASTOR <span class="d-none d-sm-inline-block"> - builded with <i
                class="mdi mdi-heart text-danger"></i> by <a href="http://www.github.com/Eveneko/">Eveneko</a></span>.
        </footer>

    </div>

{% endblock right %}


{% block rightside %}

    <div class="right-sidebar d-none d-xl-block">
        <div class="slimscroll-menu">
            <div class="px-4 pt-4">
                <div class="card user-wid text-center overflow-hidden">
                    <div class="p-4 bg-lighten-danger"></div>
                    <div class="mx-3">
                        <div class="bg-white user-wid-content p-1 rounded">
                            <div class="user-img">
                                <img src="../../static/assets/images/users/user-1.jpg" alt="user-img" title=""
                                     class="rounded-circle thumb-md img-fluid">
                            </div>
                            <h5 class="font-14 mb-1"><a href="javascript: void(0);">{{ request.session.user_name }}</a>
                            </h5>
                            <p class="text-muted mb-2"><small>Admin Head</small></p>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="font-14">Calender</h5>

                    <div class="dashboard-date-pick" id="date-pick-widget" data-provide="datepicker-inline"></div>
                </div>

                <!-- <div>
                    <h5 class="font-14">Clients</h5>

                    <div id="world-map-markers" class="dashboard-map-wid"></div>
                </div> -->

            </div>
        </div>
    </div>

{% endblock rightside %}


{% block js %}

    <!-- datepicker -->
    <script src="../../static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- vector map  -->
    <script src="../../static/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../../static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- apexcharts -->
    <script src="../../static/plugins/apexcharts/apexcharts.min.js"></script>

    <!-- Peity JS -->
    <script src="../../static/plugins/peity-chart/jquery.peity.min.js"></script>

    <script src="../../static/assets/pages/dashboard.js"></script>

{% endblock js %}